<!DOCTYPE html>
<html>
  <head>
    <%= render "/layouts/head" %>
  </head>

  <body class="bg-gray-100 p-3 sm:p-8">
    <%= render 'static/navbar' %>

    <div class="mt-14">
      <%= yield %>
    </div>
  </body>
</html>
